<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:include="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Consulta Médica Por Paciente</h4>
				<div class="form-row">
					<div class="col-md-6">
						<div class="col-md-6">
							<div class="form-group">
								<label>Paciente</label>
								 <select th:field="*{paciente.idPaciente}" class="form-control" disabled>
									<option value="-1">Seleccione</option>
									<option th:each="tipo : ${listaPaciente}"
										th:value="${tipo.idPaciente}"
										th:text="${tipo.nombres} + ' ' + ${tipo.apellidos}" />
								</select>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="idTableConsultaMedica" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Fecha de Registro</th>
								<th>Especialidad</th>
								<th>Nombre del Doctor</th>
								<th>Nombre del Paciente</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="consultaMedica :  ${listaConsultaMedica}">
								<tr>
									<td th:text="${consultaMedica.idConsultaMedica}"></td>
									<td th:text="${consultaMedica.fechaRegistro}"></td>
									<td
										th:text="${consultaMedica.doctor.especialidad.nombreEspecialidad}"></td>
									
									<td
										th:text="${consultaMedica.doctor.nombres} + ' ' + ${consultaMedica.doctor.apellidos}"></td>
									<td
										th:text="${consultaMedica.paciente.nombres} + ' ' + ${consultaMedica.paciente.apellidos}"></td>
							</th:block>
						</tbody>
						
					</table>
					<div class="col-md-12">
							<div class="form-group">
								<a class="btn btn-danger" th:href="@{'/consultamedicapaciente'}">Cancelar</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>