<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<th:block th:include="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Reporte de Historias Clínicas</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="idTablePacientes" class="table table-bordered">
						<thead>
							<tr>
							    <th>Historia Clínica</th>
								<th>ID Paciente</th>
								<th>Nombres Paciente</th>
								<th>DNI</th>	
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="paciente :  ${listaPacientes}">
								<tr>
								    <td th:text="${paciente.historiaClinica}"></td>
									<td th:text="${paciente.idPaciente}"></td>
									<td th:text="${paciente.nombres} + ' ' + ${paciente.apellidos}"></td>
									<td th:text="${paciente.dni}"></td>
									<td><a class="btn btn-primary"
										th:href="@{/reportes/reporte02/{id}(id=${paciente.idPaciente})}">
											<i class="zmdi zmdi-grid"></i> Consultar Historia Clínica
									</a></td>

								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
</body>
</html>