<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:include="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 th:text="'Bienvenido a => ' + ${name} + '!'"</h4>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<img th:src="@{/demo/img/profile-pics/sistemamedico.jpg}" alt="">
				</div>
			</div>
		</div>
	</section>
</body>
</html>