<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<th:block th:include="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Editar Pacientes</h4>

				<form
					th:action="@{/pacientes/actualizar/{id}(id=${paciente.idPaciente})}"
					th:method="post" th:object="${paciente}">

					<div th:if="${error!=null}" th:text="${error}"
						class="alert alert-danger"></div>

					<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<ul class="list list--check" style="margin-block-end: 0;">
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
						</ul>
					</div>

					<input type="hidden" th:field="*{idPaciente}" />

					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{nombres}" class="form-control"
									th:classappend="${#fields.hasErrors('nombres')} ? is-invalid"
									placeholder="Nombres" maxlength="50" />

								<!-- 								<div th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}" class="invalid-feedback"></div>							 -->
								<i class="form-group__bar"></i>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{apellidos}" class="form-control"
									th:classappend="${#fields.hasErrors('apellidos')} ? is-invalid"
									placeholder="Apellidos" maxlength="50" /> <i
									class="form-group__bar"></i>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{dni}" class="form-control"
									placeholder="Número de DNI" maxlength="10" /> <i
									class="form-group__bar"></i>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{historiaClinica}" class="form-control"
									placeholder="Historia Clínica" maxlength="10" /> <i
									class="form-group__bar"></i>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Actualizar</button>
								<a class="btn btn-danger" th:href="@{'/pacientes'}">Cancelar</a>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</section>
</body>
</html>